/* 전체 폰트 적용 (갈무리11) */
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

@font-face {
  font-family: "Galmuri11";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  font-family: "Galmuri11", sans-serif;
  touch-action: none;
}

body {
  margin: 0;
  padding: 0;
}
